body {
  background: #831111;
}

.app {
  background: #27275e;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 35px;
  color: white;
  /* text-align: center; */
  border-radius: 20px;
  box-shadow: 0px 0px 10px 1px black;
}

.logo {
  display: block;
  margin: auto;
  width: 40%;
}

.app-title {
  margin: 20px 0;
  text-decoration: underline;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
}

input,
button {
  margin: 10px 0;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  display: block;
}

.react-datepicker__input-container input {
  border: none;
  display: inline-block;
  width: 30%;
}

.list-item {
  margin: 10px 0;
  justify-content: space-between;
}

.btn-remove-wrapper {
  align-items: center;
}

.btn-remove {
  border-radius: 50%;
  /* float: right;
  width: 20%; */
}

.reminder-info {
  /* width: 80%;
  float: left; */
}
